@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box; 
}
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul li {
    display: inline-flex; 
    margin: 0 15px;
    position: relative;
}
.submenu {
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.submenu > li > a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}
/* Background color on hover */
.submenu > li > a:hover {
    background-color: #555; 
}
/* Display the submenu on hover */
.dropdown:hover .submenu,
nav ul li:hover .submenu 
{
    display: block;
}
nav ul li a {
    color: rgb(186, 135, 16);
    text-decoration: none;
    border-radius: 10px;
    padding: 0.6em 1.2em;
}

nav ul li a.active,
nav ul li a:hover,
nav ul li a:active 
{
    background: #d52349 !important;
    color: white;
    padding: 0.6em 1.2em;
    border-radius: 10px;
}

main {
    padding: 20px;
}

h1,h2 {
 color: black;
 padding: 10px;
 margin: 10px auto;

}

.product-container {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.product-container img {
    width: 300px;
    height: auto;
    display: block;
}

.overlay-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 0;
    background: rgb(186, 135, 16);
    text-align: center;
    transition: all 0.5s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
}

.product-container:hover .overlay-content {
    transform: translateY(0);
    opacity: 1;
}

.overlay-content p,
.overlay-content h4 
{
    font-size: 15px;
    font-weight: 400;
    color: #bb1717;
    margin: 5px 0;
}

 .contact-img-1 {

    width: 200px;
    height: 200px; 
    position: absolute;
    top: -10px;

}
.container-contact {
    display: flex;
    background-color: #ecf0f3;
    border-radius: 20px;
    box-shadow: 14px 14px 20px , -14px -14px white;
}
.form-inputs {

    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 500px;

}

.form-inputs label ,input, textarea {

    font-weight: bold;
    padding: 10px;
}

.btn {
    background-color: orange;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
}
.btn:hover {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin: 20px auto;
    border-radius: 14px;
    font-size: 15px;
    font-weight: bold;
    color: orange;
}
span {
    color: rgb(174, 22, 22);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .product-container {
        width: 100%;
        margin: 10px 0;
    }

    .product-container img {
        width: 100%;
    }
}