@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;1000&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* justify-content: center;
    align-items: center; */
}

header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(186, 135, 16);
    text-decoration: none;
    border-radius: 5px;
    padding: 0.6em 1.2em 0.6em 1.2em;
}

nav ul li a:hover {
    background-color: rgb(111, 24, 24);
    color: white;
    padding: 0.6em 1.2em 0.6em 1.2em;
    border-radius: 10px;
}

#nav > ul > li.current > a {
    background: #d52349;
    color: white;
    padding: 0.6em 1.2em 0.6em 1.2em;
    border-radius: 10px;
}
/* nav ul li a:current {
    background-color: rgb(111, 24, 24);
    color: white;
    padding: 0.6em 1.2em 0.6em 1.2em;
    border-radius: 5px;
} */
main {
    padding: 20px;
}

h1,h2 {
 color: black;
 padding: 10px;
 margin: 10px auto;

}

.product-container {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.product-container img {
    width: 300px;
    height: auto;
    display: block;
}

.overlay-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 0;
    background: rgb(186, 135, 16);
    text-align: center;
    transition: all 0.5s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
}

.product-container:hover .overlay-content {
    transform: translateY(0);
    opacity: 1;
}

.overlay-content p {
    font-size: 15px;
    font-weight: 400;
    color: #bb1717;
    margin: 5px 0;
}

.overlay-content h4 {
    font-size: 15px;
    font-weight: 400;
    color: #bb1717;
    margin: 5px 0;
}

 .contact-img-1 {

    width: 200px;
    height: 200px; 
    position: absolute;
    top: -10px;

}
.container-contact {
    display: flexbox;
    background-color: #ecf0f3;
    /* align-items: center;
    justify-content: center !important; */
    border-radius: 20px;
    box-shadow: 14px 14px 20px , -14px -14px white;
    /* width: 550px; */
}
.form-inputs {

    display: flex;
    flex-direction: column;
    margin: 20px auto;
    /* justify-content: center !important; */
    /* justify-items: center !important; */
    width: 500px;

}

.form-inputs label ,input, textarea {

    font-weight: bold;
    padding: 10px;
}

.btn {
    background-color: orange;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    font-size: 15px;
    font-weight: bold;
}
.btn:hover {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin: 20px auto;
    border-radius: 14px;
    font-size: 15px;
    font-weight: bold;
    color: orange;
}
span {
    color: rgb(174, 22, 22);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .product-container {
        width: 100%;
        margin: 10px 0;
    }

    .product-container img {
        width: 100%;
    }
}